<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @message.user_id %>
</p>

<p>
  <strong>Ride request:</strong>
  <%= @message.ride_request_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<%= link_to 'Edit', edit_listing_ride_request_message_path(@listing, @ride_request, @message) %> |
<%= link_to 'Back', listing_ride_request_messages_path(@listing, @ride_request) %>
