
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Listing information</div>
  
<%= simple_form_for(@listing) do |f| %>
  <%= f.error_notification %>

<table class="table">

<tr>
  <td>
  <strong>Type:</strong>
  </td>
  <td>
  <%= f.select :listing_type, Listing.listing_types.keys.map { |w| [w.humanize, w] }  %> 
  </td>
</tr>

<tr>
  <td>
  <strong>Departure location:</strong>
  </td>
  <td>
    <%= f.hidden_field :depart_maps_id %>
    <input id="start_pac_input" class="form-control" type="text" placeholder="Enter a starting location">
  </td>
</tr>

<tr>
  <td>
  <strong>Earliest departure time:</strong>
  </td>
  <td>
    <%= f.input :depart_range_start, label: false %>
  </td>
</tr>

<tr>
  <td>
  <strong>Latest departure time:</strong>
  </td>
  <td>
    <%= f.input :depart_range_end, label: false %>
  </td>
</tr>

<tr>
  <td>
  <strong>Destination location:</strong>
  </td>
  <td>
    <%= f.hidden_field :dest_maps_id %>
    <input id="dest_pac_input" class="form-control" type="text" placeholder="Enter a destination location">
  </td>
</tr>

<tr>
  <td>
  <strong>Earliest return time:</strong>
  </td>
  <td>
    <%= f.input :dest_range_start, label: false, include_blank: true %>
  </td>
</tr>

<tr>
  <td>
  <strong>Latest return time:</strong>
  </td>
  <td>
    <%= f.input :dest_range_end, label: false, include_blank: true %>
  </td>
</tr>

<tr>
  <td>
   <strong>Money</strong>
  </td>
  <td>
   <div class="input-group">
    <div class="input-group-addon">$</div> 
   <%= f.input :money, label: false %>
   </div>
    <p class="help-block">The amount of money you wish to receive or are willing to pay.</p>

  </td>
</tr>

<tr>
  <td>
  <strong>Comments:</strong>
  </td>
  <td>
  <%= f.input :comments, label: false %>
  </td>
</tr>
<tr>
  <td>
    <strong>Detour time:</strong>
  </td>
  <td>
    <div class="input-group">
    <%= f.input :detour_time, label: false %>
    <div class="input-group-addon">minutes</div>
    </div>
    <p class="help-block">Fill this out if you're driving. This amount of additional time you're willing to drive to let someone car pool with you.</p>
  </td>
</tr>
</table>
</div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<script>
function initAutocomplete() {

  var startLocationInput = document.getElementById('start_pac_input');
  var destLocationInput = document.getElementById('dest_pac_input');
  var startPlaceIDField = document.getElementById('listing_depart_maps_id');
  var destPlaceIDField = document.getElementById('listing_dest_maps_id');

  if(startPlaceIDField.value != ""){
    var geocoder = new google.maps.Geocoder;
    
    geocoder.geocode({'placeId': startPlaceIDField.value}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        if (results[0]) {
          startLocationInput.value = results[0].formatted_address;
        } else {
          console.log('No start result found');
        }
      } else {
        console.log('Geocoder failed due to: ' + status);
      }
    });
  }

  if(destPlaceIDField.value != ""){
    var geocoder = new google.maps.Geocoder;

    geocoder.geocode({'placeId': destPlaceIDField.value}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        if (results[0]) {
          destLocationInput.value = results[0].formatted_address;
        } else {
         console.log('No dest result found');
       }
     } else {
      console.log('Geocoder failed due to: ' + status);
    }
  });

  }

  var startAutocomplete = new google.maps.places.Autocomplete(startLocationInput);
  var endAutocomplete = new google.maps.places.Autocomplete(destLocationInput);


  startAutocomplete.addListener('place_changed', function() {
    
    var place = startAutocomplete.getPlace();
    if (!place.geometry) {
      return;
    }

    startPlaceIDField.value =place.place_id;
  });

  endAutocomplete.addListener('place_changed', function() {
    
    var place = endAutocomplete.getPlace();
    if (!place.geometry) {
      return;
    }

    destPlaceIDField.value = place.place_id;

  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= @maps.secret %>&libraries=places&signed_in=true&callback=initAutocomplete"
async defer></script>
<% end %>
