<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h4>Listing Results</h3></div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Departure location</th>
      <th>Earliest deparure time</th>
      <th>Latest departure time</th>
      <th>Destination location</th>
      <th>Earliest return time</th>
      <th>Latest return time</th>
      <th>Type</th>
      <th>Money</th>
      <th>Comments</th>
      <th>Maximum detour time</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.depart_maps_id, listing %></td>
        <td><%= listing.depart_range_start %></td>
        <td><%= listing.depart_range_end %></td>
        <td><%= link_to listing.dest_maps_id, listing %></td>
        <td><%= listing.dest_range_start %></td>
        <td><%= listing.dest_range_end %></td>
        <td><%= listing.listing_type %></td>
        <td><%= listing.money %></td>
        <td><%= listing.comments %></td>
        <td><%= listing.detour_time %></td>
        <td><%= link_to 'Show', listing %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<% if can? :create, current_user.listings.new %>
  <%= link_to 'New Listing', new_listing_path %>
<% end %>
