<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Listing information</div>

<table class="table">

<tr>
  <td>
  <strong>Type:</strong>
  </td>
  <td>
  <%= @listing.listing_type %>
  </td>
</tr>

<tr>
  <td>
  <strong>Departure location:</strong>
  </td>
  <td>
  <%= @listing.depart_maps_id %>
  </td>
</tr>

<tr>
  <td>
  <strong>Earliest departure time:</strong>
  </td>
  <td>
  <%= @listing.depart_range_start %>
  </td>
</tr>

<tr>
  <td>
  <strong>Latest departure time:</strong>
  </td>
  <td>
  <%= @listing.depart_range_end %>
  </td>
</tr>

<tr>
  <td>
  <strong>Destination location:</strong>
  </td>
  <td>
  <%= @listing.dest_maps_id %>
  </td>
</tr>

<tr>
  <td>
  <strong>Earliest return time:</strong>
  </td>
  <td>
  <%= @listing.dest_range_start %>
  </td>
</tr>

<tr>
  <td>
  <strong>Latest return time:</strong>
  </td>
  <td>
  <%= @listing.dest_range_end %>
  </td>
</tr>

<tr>
  <td>
  <% if(@listing.listing_type == "offer") %>
    <strong>Payment requested:</strong>
  <% else %>
    <strong>Willing to pay:</strong>
  <% end %>
  </td>
  <td>
  $<%= @listing.money %>
  </td>
</tr>

<tr>
  <td>
  <strong>Comments:</strong>
  </td>
  <td>
  <%= @listing.comments %>
  </td>
</tr>
 <% if(@listing.listing_type == "offer") %>
<tr>
  <td>
  <strong>Detour time:</strong>
  </td>
  <td>
  <%= @listing.detour_time %> minutes
  </td>
</tr>
<% end %>
</table>
</div>

<% if !can? :update, @listing %>
<%= link_to "Book", listing_ride_requests_path(@listing), method: "POST", class: "btn btn-primary btn-lg active" %>
</br>
<% end %>
<% if can? :update, @listing %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
  <%= link_to 'Disable', listing_disable_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
