<p id="notice"><%= notice %></p>

<h1>Listing Ride Requests</h1>

<table>
  <thead>
    <tr>
      <th>Listing</th>
      <th>User</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ride_requests.each do |ride_request| %>
      <tr>
        <td><%= ride_request.listing_id %></td>
        <td><%= ride_request.user_id %></td>
        <td><%= ride_request.state %></td>
        <td><%= link_to 'Show', ride_request %></td>
        <td><%= link_to 'Edit', edit_ride_request_path(ride_request) %></td>
        <td><%= link_to 'Destroy', ride_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ride request', new_ride_request_path %>
