<p id="notice"><%= notice %></p>

<p>
  <strong>Request for listing:</strong>
  <%= link_to @listing.id, listing_path(@listing) %>

<p>
  <strong>Requested at:</strong>
  <%= @ride_request.created_at %>
</p>

<p>
  <strong>State:</strong>
  <%= @ride_request.state %>
</p>
</br>

<%= render "messages/messages", locals: {listing: @listing, ride_request: @ride_request }%>


<%= link_to 'Edit', edit_listing_ride_request_path(@listing, @ride_request) %> |
<%= link_to 'Back', listing_ride_requests_path(@listing) %>
