<p id="notice"><%= notice %></p>

<% @maps = MapsService.new %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Details for the booking request</div>
<table class="table">
<tr><td><strong>Listing:</strong></td><td>
 <%= link_to @ride_request.listing do %>
    <%= @maps.get_address(@ride_request.listing.depart_maps_id) %> to <%= @maps.get_address(@ride_request.listing.dest_maps_id) %>
  <% end %>
</td></tr>
<tr><td><strong>Requested at:</strong></td><td><%= @ride_request.created_at %></td></tr>
<tr><td><strong>State:</strong></td><td><span class="label label-<% if(@ride_request.state == "accepted") %>success<% elsif(@ride_request.state == "rejected") %>danger<% else %>default<% end %>"><%= @ride_request.state %></span>
<% if can? :accept, @ride_request and @ride_request.state == "undecided" %>
          </br>
          Made a decision? Click below:
          </br>
	  <span class="label label-success"><%= link_to "Accept", listing_ride_request_accept_path(@listing, @ride_request)%></span>
	  </br>
          <span class="label label-danger"> <%= link_to "Reject", listing_ride_request_reject_path(@listing, @ride_request)%></span>
<% end %>

<% if can? :accept, @ride_request and @ride_request.state == "accepted" and !@ride_request.listing.disabled %>
        </br>
        Don't want anymore requests for this listing?
        <span class="label label-warning">
        <%= link_to "Disable Listing", listing_disable_path(@listing) %>
        </span>
<% end %>



</td>
</tr>

</table>
</div>

<%= render "messages/messages", locals: {listing: @listing, ride_request: @ride_request }%>


<%= link_to 'Back', @listing %>
