<h3>User</h3>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Your information (private) <%= link_to '[Edit Infomation / Change Password]', edit_user_registration_path %></div>
<table class="table">
<tr>
<td>
Name: <%= @user.name if @user.name %>
</td>
</tr>
<tr>
<td>
Email: <%= @user.email if @user.email %>
</td>
</tr>
</table>
</div>

<% @maps = MapsService.new %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Listings you've requested to book</div>
<table class="table">
<% @user.ride_requests.each do |rr| %>
  <tr>
  <td>
  <%= link_to [rr.listing, rr] do %>
    <%= @maps.get_address(rr.listing.depart_maps_id) %> to <%= @maps.get_address(rr.listing.dest_maps_id) %>
  <% end %>
  </td>
  <td>
   <span class="label label-<% if(rr.state == "accepted") %>success<% elsif(rr.state == "rejected") %>danger<% else %>default<% end %>"><%= rr.state %></span>
  </td>
  <td>
    <%= link_to 'Cancel', [rr.listing, rr], method: :delete, data: {confirm: "Are you sure?"} %>
  </td>
  </tr>
<% end %>
</table>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Booking requests for your listings</div>
  <table class="table">
  <% @user.listing_requests.each do |rr| %>
    <tr>
    <td>
    <%= link_to [rr.listing, rr] do %>
      <%= @maps.get_address(rr.listing.depart_maps_id) %> to <%= @maps.get_address(rr.listing.dest_maps_id) %>
    <% end %>
    </td>
    <td>
     <span class="label label-<% if(rr.state == "accepted") %>success<% elsif(rr.state == "rejected") %>danger<% else %>default<% end %>"><%= rr.state %></span>
    </td>
    <td>
      <%= link_to 'Cancel', [rr.listing, rr], method: :delete, data: {confirm: "Are you sure?"} %>
    </td>
    </tr>
  <% end %>
  </table>
</div>
