<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<% @maps = MapsService.new %>

<% @user.ride_requests.each do |rr| %>
  <%= link_to rr.listing do %>
    <%= @maps.get_address(rr.listing.depart_maps_id) %> to <%= @maps.get_address(rr.listing.dest_maps_id) %>
  <% end %>
<% end %>
